html{
    background: rgb(9,130,11);
    background: linear-gradient(180deg, rgba(9,130,11,1) 0%, rgba(22,180,43,1) 100%);
}

body{
    width: 70%;
    margin: 5% auto;
    padding: 5%;
    box-shadow: black 0px 0px 10px;
    background-color: rgb(230, 230, 230);
}

#tituloNoticias{
    font-family: sans-serif;
    font-size: 3em;
    margin-bottom: 5%;
}

.noticia{
    margin: 0% auto 5% auto;
    padding: 3% 5% 3% 3%;
    box-shadow: black 0px 0px 3px;
    background-color: white;
    border-left: green 10px solid;
    transition: ease-in-out 0.5s;
}

.noticia:hover{
    border-left: purple 10px solid;
    cursor: pointer;
    background-color: rgb(255, 245, 224);
}

.titulo, .contenido, .autor, .fecha{
    margin: 1% 0;
}

.titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;}

.autor, .fecha{
    font-style: italic;
}

.autor, .fecha{
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color: rgb(97, 97, 97);
}

.iconoFecha{
    margin-right: 3%;
}

.iconoPass{
    margin-right: 5%;
}

.contenedorAutor_Fecha{
    display: flex;
    justify-content: space-between;
}

#menu{
    margin-bottom: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border-top:green 5px solid;
    border-bottom: green 5px solid;
    border-radius: 10%;
    padding: 15px 0px;
}

#listaMenu{
    display: flex;
    justify-content: space-around;
}

.elementosMenu{
    transition: ease-in-out 0.5s;
    padding-right: 3%;
    border-right: black 2px solid;
    font-size: 1.4em;
}

.elementosMenu:hover{
    border-right: rgb(192, 15, 15) 5px solid;
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: black;
}

.elementosMenu:last-child{
    border: none;
}

.elementosMenu:last-child:hover{
    border-right:rgb(192, 15, 15) 5px solid;
}

table{
   width: 100%;
   text-align: center;
}

th{
    padding: 3% 0px;
    background-color: rgb(245, 173, 173);
    border-top: black 1px solid;
}

td {
    border: black 1px solid;
    border-left: none;
    border-right: none;
}

tr:nth-child(odd){
    background-color: rgb(161, 197, 250);
}

td{
    padding: 3% 0px;
}

i{
    padding: 0px 5px;
    font-size: 20px;
}

i:hover{
    color: rgb(179, 152, 1);
}

#formLogin{
    width: 20%;
    margin: auto;
    border: green 3px solid;
    box-shadow: black 0px 0px 3px;
    padding: 15% 10%;
    text-align: center;
}

.campoForm{
    width: 80%;
    margin: auto;
    text-align: left;
}

input[type="text"]{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    margin: auto;
    width: 70px;
    height: 30px;
    margin-top: 15px;
}

#preguntaRegistro{
    text-align: center;
    margin-top: 55px;
}

#preguntaRegistro>a{
    color: rgb(0, 0, 238);
}

section, aside{
    display: inline-block;
}

aside{
    border-left: black 1px solid;
    width: 30%;
    vertical-align: top;
    padding-left: 2%;
    margin-left: 6%;
}

section{
    width: 60%;
}

.titulosAside{
    margin-bottom: 5%;
    font-size: 1.2em;
}

#tituloAsideNoticias{
    margin-top: 15%;
}

li{
    list-style-type:none;
}

.textoEditar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 60px;
}

#contenedorFlex{
    display: flex;
    justify-content: space-between;
}

footer{
    text-align: center;
}